body
{
	background-color: #F0F8FF;
	margin: auto;
	height: auto;
	width: auto;
}

div.index
{
	background-color: red;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 50%;
}

.button-container
{
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 33% 33% 33%; 
	grid-template-rows: 100% 50% 50%;
}

.grid-container
{
	display: grid;
	grid-template-rows: 8vh 80vh 8vh;
	background-color: orange;
	padding: 8px;

	margin: auto;
	height: 100vh;
	width: 100vh;
}

.button-item
{
	border: 1px solid #F0F8FF;
}
.grid-item
{
	border: 1px solid #F0F8FF;
}