.content
{
	/* Size */
	height: 96%;
	width: 90%;
	margin: auto;

	/* Grid */
	grid-template-areas: 'contentHead' 'contentBody' 'contentFoot';
	grid-template-rows: 0.75fr 2.65fr 0.4fr;
	grid-template-columns: 1fr;
	display:grid;
}

p
{
	margin:auto;
}

.contentHead, .contentBody, .contentFoot
{
	/* Borders */
	box-sizing: border-box;
	border: 0.25vmax solid rgba(255, 255, 255, 0.25);
	
	/* Flex */
	align-items: center;
	display: flex;
}

.contentHead
{
	/* Borders */
	border-left: none;
	border-right: none;
	border-top: none;
}

.contentBody
{
	position:relative;

	/* Borders */
	border:none;
}

.contentFoot
{
	/* Borders */
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.title
{
	/* Size */
	width: 50%;
	margin: auto;
	margin-bottom: 0.5%;
	
	/* Background 
	background-color: rgba(255,128,128,0.5);*/

	/* Text */
	text-shadow: 0 0.25vmax rgba(0, 0, 0, 0.5);
	text-align: center;
}

															/* Generic Elements*/

.portrait
{
	/* Transform */
	position: absolute;
	height: 125%;
	width: 60%;
	bottom:0%;
	margin:auto;

	/* Background */
	background-image: url('images/portrait.png');
	background-size: 80% 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.glassPanel
{
	/* Size */
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: 0.1vmax solid rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	
	/* Background */
	background-repeat: no-repeat;
	background-size: cover;
	
	/* Flex */
	align-items: center;
	display: flex;
}

															/* About Page */

.aboutTitle
{
	margin-left: 0;
	font-size: 4vw;
}

.aboutContainer
{
	width: 40%;
	margin-left: 5vw;
	border-top: none;
	border-bottom: none;
	user-select: text;
	font-size: 60%;
	overflow: auto;
	white-space: pre-line;
	padding: 1vmax;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0.0vmin 0.25vmin rgba(0, 0, 0, 0.25);
}

.aboutContainer:hover
{
	color: rgba(255, 255, 255, 1);
}


															/* Contact Page */
.contactTitle
{
	margin-right: 0;
	font-size: 3.5vw;
}

.contactContainer
{
	/* Size */
	width: 40%;
	margin-left: 55%;
	
	/* Borders */
	border-top: none;
	border-bottom: none;

	/* Flex */
	align-items: center;
	display: flex;

	/* Background */
	background-color: rgba(0, 0, 0, 0);
}

.buttonPanel
{
	height:85%;
	width:85%;
	margin:auto;

	/* Grid */
	grid-template-areas: 'socialMedia socialMedia' 'largeButtonL largeButtonR' 'textfieldL textfieldR';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.75fr 3fr 0.75fr;
	grid-gap: 1vmax;
	display:grid;
}

.largeButton
{
	/* Text */
	font-size: 0;
	text-shadow: 0.25vmax 0.25vmax rgba(0, 0, 0, 0.5);

	/* Background */
	background-size: 100% 100%;
	background-position: center;
}

.largeButton:hover
{
	font-size: 145%;
	opacity:0.75;
}

.textfield
{
	/* Text */
	font-size:75%;

	/* Transform */
	margin:auto;
	padding:5%;

	/* Background */
	background-position: left center;
	background-origin:content-box;
	background-size:12.5% 65%;
}

.textfield:hover
{
	user-select:text;
	font-size:40%;
}

.socialMediaIcon
{
	/* Size */
	height:75%;
	width:15%;
	margin:auto;

	/* Background */
	background-size:80% 90%;
	background-position:center;
	background-repeat:no-repeat;
}

.socialMediaIcon:hover
{
	opacity:0.5;
}

.socialMediaPanel
{
	/* Flex */
	align-content:center;
	display:flex;
}

															/* Portfolio Page*/

.imageContainer
{
	/* Size */
	height:45vh;
	width:65vw;
	margin:auto;

	/* Grid */
	grid-template-areas: 'arrowL imageViewer arrowR';
	grid-template-columns: 0.3fr 2fr 0.3fr;
	display:grid;

}

.imageViewer
{
	background-size:100% 100%;
}

.arrow
{
	background-repeat:no-repeat;
	background-size: 75% 35%;
	opacity:0.35;
}

.arrow:hover
{
	opacity:0.6;
}

.arrow:active
{
	opacity:0.8;
}
/*
.imageViewer, .arrow
{
	box-sizing:border-box;
	border:1px solid black;
}*/