body
{	
	color:white;
	font-size:16px;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	background-position: center;
	background-image: url('images/background.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	min-width:256px;
	min-height:256px;
	margin: 0;
}

.bodyImage
{
	opacity: 0;
	grid-column: 1;
	grid-row: 1;
	height: 1fr;
	width: 1fr;
	background-size:cover;
	background-repeat:repeat;
	background-position: center;
	background-image: url('images/smokeEffect.png');
}

#page, .mirror
{
	grid-column:1;
	grid-row:1;
	min-width: 256px;
	min-height: 256px;
}

#page
{
	z-index: 1;
	height: 90vh;
	width: 75vw;
	margin: 5vh auto;
	/*background-color: rgba(255, 0, 0, 0.1); Enable this to see grid changes*/
	grid-template-areas: 'header' 'content' 'footer';
	grid-template-rows: 15% 77.5% 7.5%;
	grid-template-columns: 100%;
	display: grid;
}

.mirror
{
	height: 100vh;
	width: 100vw;
	margin:0;
	z-index: 0;
	grid-template-areas: 'headerMirror' 'contentMirror' 'footerMirror';
	grid-template-rows: 22.5% 1fr 18.5%;
	grid-template-columns: 100%;
	display: grid;
}

.headerMirror
{
	opacity: 0.05;
	background-image: url('images/headerImage.svg');
	background-size: 75% 70%;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.footerMirror
{
	opacity:0.1;
	background-image: url('images/footerImage.svg');
	background-size: 77.5% 40%;
	background-position: center;
	background-repeat: no-repeat;
}


.headerMirror, .contentMirror, .footerMirror
{
	/*
	box-sizing: border-box;
	border: 4px solid black;*/
}

/*
.header, .content, .footer
{
	box-sizing: border-box;
	border: 4px solid black;
}*/

.footer
{
	/*background-color: red;*/
	background-image: url('images/footerImage.svg');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	/*height: 7.5vh;
	width: 75vw;
	margin: auto;
	margin-top: 7.5vh;
	margin-bottom:0;*/
}


@media screen and (max-aspect-ratio: 1/1)
{
	div
	{
		/*background-color: rgba(255, 0, 0, 0.25);*/
	}

	#page
	{
		grid-template-rows: 15% 75% 5%;
	}
}
