.header
{
	height: 100%;
	width: 100%;
	/*grid-template-areas: 'backL backM backR';*/
	display: grid;
}

.headerLayerA, .headerLayerB
{
	height: 100%;
	width: 100%;
	grid-row: 1; 
	grid-column:1;
	display:grid;
}

.headerLayerB
{
	grid-template-areas: 'headerBackL headerBackM headerBackR';
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
}

.headerBackL, .headerBackM, headerBackR
{
	box-sizing:border-box;
	border:4px solid black;
}

.headerBackL
{
	background-image: url('images/header_LeftEnd.png');
}

.headerBackM
{
	background-image: url('images/header_middle.png');
}

.headerBackR
{
	background-image: url('images/header_rightEnd.png');
}