.content
{
	/* Size */
	height: 96%;
	width: 100%;
	margin: 0;

	/* Flex */
	align-content: center;
	display: flex;
}

.contentContainer
{
	position:relative;

	/* Size */
	height: 80%;
	width: 90%;
	margin: auto;
	
	/* Grid */
	grid-template-areas: 'contentHead' 'contentArea';
	grid-template-rows: 1fr 8fr;
	grid-template-columns: 1fr;
	display: grid;
}

.contentOverlay
{
	position: absolute;
	height: 99.5%;
	width: 50%;
	left: 50%;

	background-image: url('images/portrait.png');
	background-size: 90% 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.contentHead
{
	/* Flex */
	align-items: center;
	display: flex;
}

.contentTitle
{
	/* Font */
	text-shadow: 0px 3px rgba(0, 0, 0, 0.75);
	text-align:center;
	font-size:400%;

	/* Size */
	width:40%;

	/* Position */
	margin:auto;
	margin-left:6.75vw;
	margin-bottom:0;
}

.contentArea
{
	/* Size */
	height: 100%;
	width: 100%;
	margin: auto;

	/* Background */
	background-image: url('images/aboutFrame.svg');
	background-position: center;
	background-size:100% 100%;
	background-repeat: no-repeat;

	/* Flex */
	align-items: center;
	display: flex;
}

.contentBox
{
	/* Debug 
	background-color: rgba(0, 0, 0, 0.5);*/

	/* Size */
	height: 100%;
	width: 45%;
	margin:auto;
	margin-left:4.75vw;
	
	/* Flex */
	align-items: center;
	display: flex;
}

.textArea
{
	/* Debug */
	background-color: rgba(255, 255, 255, 0.5);

	/* Size */
	width: 90%;
	margin: auto;

	/* Font */
	font-size:16px;
	font-size: 1.25vw;

	/* Flex */
	align-items: center;
	display:flex;

	overflow:auto;
}
