div.rain 
{
    /*background-image: url(Images/rain.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name:rain;
    animation-duration:64s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}

@keyframes rain 
{
    0% 
    {
        opacity:0;
        background-position: 0vw -100vh;
    }
    50% 
    {
        opacity: 1;
    }    
    100% 
    {
        opacity:0;
        background-position: 0vw 100vh;
    }
}
