body
{
	/* Text */
	color:snow;
	font-size:2vmax;
	user-select: none;
	font-family:Arial;

	/* Background */
	background-image: url('images/backgroundImage.png');
	background-size:cover;


	/* Size */
	height: 100vh;
	/*width: 100vw; THIS CAUSED SCALING ISSUES FOR SOME REASON ?*/
	margin: 0;

	/* Flex */
	align-items:center;
	display:flex;
}

#page
{
	/* Size */
	height:96%;
	width:100%;
	margin:auto;

	/* Grid */
	grid-template-areas: 'header' 'content' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 8fr 0.6fr;
	display:grid;
}

/*
.header, .content, .footer
{
	box-sizing:border-box;
	border:4px solid black;
}*/


/*Phone aspect ratio || vertical screen*/
@media screen and (max-aspect-ratio: 1/1) and (max-width: 768px), screen and (max-height: 512px) and (max-aspect-ratio: 1/1)
{
	body
	{
		font-size: 4vmin;
	}

	.portrait
	{
		display: none;
	}

	/* Header */
	.header
	{
		background-size: 97.5% 2%;
	}

	.buttonArea
	{
		font-size: 5vmin;
		width: 42.5%;
	}

	.buttonArea
	{
		width:65%;
	}

	/* Footer */
	.footerContent
	{
		width: 55%;
	}

	/* Content */
	.aboutTitle, .contactTitle
	{
		width: 100%;
		margin: auto;
		margin-bottom: 0.5%;
		text-align: center;
		font-size: 6vw;
	}

	.contactContainer, .aboutContainer
	{
		height: 80%;
		width: 95%;
		margin: auto;
		border: 0.1vmax solid rgba(255, 255, 255, 0.5);
	}

	.aboutContainer
	{
		font-size: 2.80vmin;
	}

	.largeButton
	{
		font-size:150%;
		color:snow;
	}

	.imageContainer
	{
		width: 100%;
		height: 50%;
		/* Grid */
		grid-template-columns: 0.1fr 1fr 0.1fr;
		grid-template-rows: 1fr;
		display: grid;
	}

	.arrow
	{
		background-size: 40% 25%;
	}


	/* Debug 
	div
	{
		background-color: rgba(255, 0, 0, 0.25);
	}
	*/
}

/* Small desktop mode */
@media screen and (max-height: 512px), screen and (max-width:512px)
{
	.aboutContainer
	{
		/*font-size: calc(8px + 0.1vmin);*/
	}
}
/* Large Vertical Mode */
