body
{
	padding: 0;
	margin: 0;
}		

div.selection:hover
{
	color:#0000001c;
}

div.page
{
	background-color: #F0F8FF;
	display: grid;
	height: 100vh;
	grid-template-rows: 3fr 20fr 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: 'header'
						 'mainContent'
						 'footer';
}

div.header
{
	background-color: #62acd1;	
	background-image: url(gradient_top.png);
	background-repeat: repeat-x;
	border-bottom: 3px solid rgb(220, 220, 220);
	grid-area: header;
}

div.mainContent
{
	background-color: snow;
	background-image: url(background_blueRain.png);
	background-size: contain;
	background-position: center;
	grid-area: mainContent;
}

div.footer
{
	background-color: #62acd1;	
	background-image: url(gradient_bottom.png);
	background-size: contain;
	border-top: 3px solid rgb(220, 220, 220);
	grid-area: footer;
}

div.menu
{
	height: 75%;	
	width: 50%;
	margin: 1.5vh 25%;
	display:grid;
	grid-template-areas: 'about spacerLeft portfolio spacerRight contact';
	grid-template-columns: 20fr 0.25fr 20fr 0.25fr 20fr;
}

/* Button style */
div.buttonAbout, div.buttonPortfolio, div.buttonContact
{
	font-size: 5vh;
	color: snow;
	text-align: center;
	text-shadow: 2px 2px grey;
	margin: auto;
}

/* Space Style */
div.spacerLeft, div.spacerRight
{
	background-color:#568da8;
	border-right: 1px solid #457288;
}

div.spacerLeft
{
	grid-area: spacerLeft;
}

div.spacerRight
{
	grid-area: spacerRight;
}

div.buttonAbout
{
	grid-area: about;
}

div.buttonPortfolio
{
	grid-area: portfolio;
}

div.buttonContact
{
	grid-area: contact;
}