.footer
{
	/* Background Image */
	background-image: url('images/footerImage.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95% 100%;

	/* Flex */
	align-items:center;
	display:flex;

	min-height:32px;
}

.footerContent
{
	/* Size */
	height:100%;
	width:43%;
	margin:auto;

	/* Grid */
	grid-template-areas: 'footerContainerL footerContainerM footerContainerR';
	grid-template-columns: 1fr 0.5fr 1fr;
	grid-template-rows: 1fr;
	display:grid;

	/* Debug 
	background-color:rgba(128, 255, 128, 0.25);*/
}

.footerContainer
{
	/* Debug 
	box-sizing: border-box;
	border: 1px solid black;*/

	/* Flex */
	align-items:center;
	display:flex;
}

.toggleButton
{
	/* Size */
	min-width: 64px;
	min-height: 16px;

	/* Background */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
}

.toggleButtonOn
{
	/* Background Image */
	background-image: url('images/toggleButton_On.svg');

}

.toggleButtonOff
{
	/* Background Image */
	background-image: url('images/toggleButton_Off.svg');
}

.footerText
{
	width:100%;
	margin:auto;

	/* Font */
	font-size: 50%;
	opacity: 0.75;
}