body 
{
	background-image: url('Images/background.png');
	background-color: darkslategrey;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

div.gridContainer 
{
	height: 100%;
	width: 100%;
	margin: 0;

	grid-template: 'header' 'content';
	grid-template-rows: 8vh 92vh;
	display: grid;
}

div.header 
{
	background-image: linear-gradient(rgba(110,140,145, 0.5), rgba(140,200,205, 0.25),rgba(110,140,145, 0.5));
	/*background-image: linear-gradient(rgba(97, 191, 238, 0.2), rgba(40, 100, 130, 0.6), rgba(40, 100, 130, 0.4));*/
	/*background-image: linear-gradient(rgba(40, 100, 130, 0.2), rgba(40, 100, 130, 0.3), rgba(40, 100, 130, 0.2));*/
	border-bottom: 1px solid rgba(76, 233, 247, 0.20);
	box-sizing: border-box;
	height: 100%;
	min-height: 72px;
	min-width: 100vw;
	margin: 0;
}

div.content 
{
	height:100%;
	width:100%;
	margin:0;
}

div.menuContent 
{
	grid-template: 'contact about portfolio';
	grid-template-columns: 2fr 2fr 2fr;
	margin: auto;
	width: 33%;
	min-width:512px;
	height: 100%;
	display: grid;
}

button 
{
	border:none;
	background-color: rgba(0, 0, 0, 0);
}

button.about 
{
	border-left: 4px solid;
	border-right: 4px solid;
}

button.contact, button.about, button.portfolio 
{
	text-shadow:1px 2px rgb(122, 156, 176);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-color: rgba(195, 230, 250, 0.5);
	color: rgb(116, 186, 225);
	font-size: 32px;
	margin-top: 5%;
	height: 60%;
}

button.contact:hover, button.about:hover, button.portfolio:hover 
{
	color: rgba(195, 230, 250, 0.5);
	text-decoration:underline;
}

.pageSelection
{
	text-decoration:underline;
}

.test 
{
	margin-top: 8%;
	margin-left: 25%;
	height: 60%;
	width: 50%;
	/*background-color:rgba(230, 37, 37, 0.40);*/
	background-repeat: no-repeat;
}
